[Unit]
Description=Firebase Push Proxy
After=network.target

[Service]
Type=simple
PrivateTmp=true
WorkingDirectory=/var/local/fpp/%i
Environment=GOOGLE_APPLICATION_CREDENTIALS=/var/local/fpp/%i/credentials.json
EnvironmentFile=-/var/local/fpp/%i/env
User=nobody
Group=nobody
ExecStart=/usr/bin/fpp

[Install]
WantedBy=multi-user.target
