http:
  routers:
    metrics:
      entryPoints:
      - https
      rule: PathPrefix(`/{{ fpp_metrics_path }}/metrics`)
      middlewares:
      - strip-traefik-metrics
      service: prometheus@internal
      tls: {}
  middlewares:
    strip-traefik-metrics:
      stripPrefix:
        prefixes:
          - "/{{ fpp_metrics_path }}/"
