---
http:
  middlewares:
    fpp-auth:
      forwardAuth:
        address: "{{ fpp_auth_service_url }}"
    remove-auth-header:
      headers:
        customRequestHeaders:
          Authorization: ''
